.itemHistory{
    animation: itemHistoryAnimate .4s linear;
    transition:.5s;
}
@keyframes itemHistoryAnimate{
    from{
        transform:translateY(5px);
        opacity: 0;
    }
    to{
        transform:translateY(0px);
        opacity: 1;
    }
}