<ion-menu mode="ios" contentId="menu" menuId="menu" side="end">
  <ion-header>
    <ion-toolbar mode="ios" color="primary">
      <ion-title class="animate">History</ion-title>
      
      <!-- loading while write -->
      <ion-buttons  mode="md" slot="start">
        <ion-spinner class="animate" color="light" *ngIf="existWriting"></ion-spinner>
      </ion-buttons>

 
    </ion-toolbar>

    <!-- toolbar searchbar -->
    <ion-toolbar color="primary" class="toolbar__searchbar">
      <br>
      <ion-searchbar class="animate" color="light" [value]="valueForSearchBar" id="searchbar" (ionChange)="getValueBySearch()" animated ></ion-searchbar>
    </ion-toolbar>

  </ion-header>


 
  <ion-content>
    <app-history-items   [inputValue]="valueForSearchBar"></app-history-items>
  </ion-content>
</ion-menu>

<ion-app >
  <ion-router-outlet id="menu"></ion-router-outlet>
</ion-app>
