<ion-menu mode="ios" contentId="menu" menuId="menu" side="end">
  <ion-header>
    <ion-toolbar mode="ios">
      <ion-title>History</ion-title>
      
      <ion-buttons  mode="md" slot="start">
        <ion-spinner color="medium" *ngIf="existWriting"></ion-spinner>
      </ion-buttons>

      <ion-buttons  mode="md" slot="end">
      
        <ion-button (click)="deleteHistory()">
          <ion-icon name="trash" color="danger"></ion-icon>
        </ion-button>

      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar [value]="valueForSearchBar" id="searchbar" (ionChange)="getValueBySearch()" animated ></ion-searchbar>
  <ion-content>
    <app-history-items [inputValue]="valueForSearchBar"></app-history-items>
  </ion-content>
</ion-menu>

<ion-app >
  <ion-router-outlet id="menu"></ion-router-outlet>
</ion-app>
