<app-header headerTitle="Bureau" 
            headerImageUrl="../../assets/icon/header-img/user.png"
            options="true"></app-header>


<ion-content [fullscreen]="true">

    <app-user *ngIf="resultUser.ok != false" [data]="resultUser"></app-user>

    <app-skeleton-user *ngIf="resultUser.ok == false" url="../../assets/skeletonuser.png"></app-skeleton-user>


    <!-- input -->
     <ion-list *ngIf="resultUser.ok == false">
         <ion-item class="animate">
            <ion-icon slot="start" name="keypad-outline"></ion-icon>
             <ion-input type="text" [(ngModel)]="inputId.identification" placeholder="Introduzca su cédula "></ion-input>
         </ion-item>
     </ion-list>


     <!-- buttons -->
     <section class="container__buttons animate">
        <article>

            <ion-button [disabled]="inputId.identification.length<9" *ngIf="resultUser.ok == false" (click)="getInfo()" expand="block" mode="ios" color="tertiary">Buscar
                <ion-ripple-effect></ion-ripple-effect>
            </ion-button>
            
            <ion-button *ngIf="resultUser.ok != false" (click)="resultUser.ok = false" expand="block" mode="ios" color="light">Atrás
                <ion-ripple-effect></ion-ripple-effect>
            </ion-button>

        </article>
     </section>

       
    <section *ngIf="isLoader==true" class="container__spinner animate">
        <ion-spinner color="danger" name="lines"></ion-spinner>
    </section>
</ion-content>
